body {
    margin: 0;
}

.pane {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.collapesed {
    height: 0 auto;
}

.expanded {
    display: flex;
    height: 100%;
}

.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    overflow: hidden;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    overflow: hidden;
}

.explorer {
    display: flex;
    padding: 0.3rem;
    background-color: #28282a;
    border-right: gainsboro 0.5px solid;
    margin: 0;
}

.btn {
    display: block;
    color: white;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    width: 5rem;
}

.pressed {
    display: block;
    color: white;
    padding: 0.5rem;
    background-color: #212121;
    border-top: orange 0.2rem solid;
    font-size: 1rem;
    width: 5rem;
}

.btn.postbin {
    width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 4rem;
    border-bottom: orange 0.2rem solid;
}

.btn.postbin:hover {
    background-color: #212121;
}

.postbinLink {
    width: 0 auto;
    background-color: #28282a;
    font-size: 1rem;
    margin: 0.5rem 0 0 4rem;
    color: white;
}

.btn.postbin.submit {
    margin-left: 0.5rem;
}

.popup {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-close {
    display: block;
    color: white;
    padding: 0.5rem;
    background-color: #212121;
    border-top: orange 0.2rem solid;
    font-size: 1rem;
    width: 5rem;
    margin: 0.5rem;
}